<div class="p-0 m-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Quotify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/apiQuote" routerLinkActive="active">Random Quote(API)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/localQuote" routerLinkActive="active">Random Quote(Local)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/addQuote" routerLinkActive="active">Add Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listQuote" routerLinkActive="active">List All Quotes(Local)</a>
              </li>
          </ul>
        </div>
      </nav>
</div>
<router-outlet></router-outlet>
<div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Fixed bottom</a>
      </nav>
</div>