
<div class="card custom_card">
    <h5 class="card-title">Quotes</h5>
    <div class="card-body">
      {{quotesList.quote}}
    </div>
    <div class="row">
        <div class="col-md-4">
            <button [hidden] ="showBtn" type="button" 
                class="btn btn-info" (click)="saveLocal(quotesList.quote)">Save to Local</button>
            <button *ngIf ="showBtn" type="button" class="btn btn-info" >Saved !</button>
        </div>
        <div class="cil-md-4">
            <button  type="button" class="btn btn-info"  (click)="showQuotes()">Generate new</button>
        </div>
    </div>
    
</div>